*{
  margin : 0px;
  padding : 0px;
  box-sizing:border-box;
 }
body{
  background-color : #d9e5d6 ;
 }

/* .heading{
  color:#afefea;
  font-weight:bold;
  text-align: center;
  margin : 70px 50px;
  font-family: 'Aboreto', cursive;
} */
/* .img_div{
  display:flex;
  justify-content: center;
} */
.img_div img{
  height: 400px;
  width: 300px;
}
